.partners {
  padding: 108px 0;

  @include mobile {
    padding: 76px 0;
  }
  &__container {
    @include flex-all-between;
    gap: 30px;
    max-width: 1110px;

    @include small-tablet {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }
  &__title {
    font-weight: 500;
    line-height: 178%;
    color: var(--neutral-colors-150);

    &-num {
      display: block;
      margin-bottom: 16px;
      font-weight: 600;
      letter-spacing: -0.04em;
      color: var(--neutral-colors-100);

      @include small-mobile {
        margin-bottom: 10px;
      }
    }
  }

  &__list {
    @include flex-all-center;
    flex-wrap: wrap;
    gap: 10px 30px;

    @include mobile {
      gap: 10px;
    }
  }

  &__item {
    @include flex-all-center;
    width: 160px;
    height: 90px;
    background-color: #fff;
    border-radius: 16px;
  }

  // =================== slider ========================
  &__slider {

    @include small-tablet {
      overflow: hidden;
      width: 100%;
    }

    &-list {
      // justify-content: space-between;
      // width: 100%;
      // min-width: 730px;

      @include flex-all-center;
      flex-wrap: wrap;
      gap: 10px 30px;

      @include small-tablet {
        flex-wrap: nowrap;
      }

      @include small-tablet {
       display: flex;
      //  width: 100%;
      //  height: 100%;
      }
    }

    &-item {

      @include small-tablet {
        flex-shrink: 0;
       }

      @include flex-all-center;
      width: 160px;
      height: 90px;
      background-color: #fff;
      border-radius: 16px;
    }
  }
}
