:root {
  //neutral colors
  --neutral-colors-10: #fff;
  --neutral-colors-20: #f5f5f5;
  --neutral-colors-30: #ededed;
  --neutral-colors-40: #ced1d8;
  --neutral-colors-50: #afb3bb;
  --neutral-colors-60: #18181d;
  --neutral-colors-70: #606060;
  --neutral-colors-90: #161a34;
  --neutral-colors-100: #1d1e25;
  --neutral-colors-120: #828282;
  --neutral-colors-130: #d9d9d9;
  --neutral-colors-140: #000;
  --neutral-colors-150: #7e8492;

  // logo-colors
  --logo-colors-text: #101010;
  --logo-colors-circle: #101010;

  // bg colors
  --black-bg-colors: #1d1e25;

  //primary-colors
  --primary-colors-30: #1463ff;
  --primary-colors-50: #4e7ddb;
  --primary-colors-60: #4b628f;

  //succsess colors
  --succsess-colors-70: #e2f8f0b3;

  //z-index
  --z-index-0: -1;
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-4: 4;

  //container
  --container-padding: 15px;
  --container-width: 1200px;

  @include mini-desktop {
    --container-width: 1000px;
  }
  @include tablet {
    --container-width: 860px;
  }
  @include mobile {
    --container-width: 480px;
  }

  // transition
  --transition: 0.2s ease-in-out;
}

[data-theme='dark'] {
  --neutral-colors-10: #1d1e25;
  --neutral-colors-100: #fff;
  --neutral-colors-140: #fff;

  // logo-colors
  --logo-colors-text: #fff;
  --logo-colors-circle: #343542;

  //succsess colors
  --succsess-colors-70: #e2f8f033;

  // overview colors
  --black-bg-colors: #18181d;
}
